In [ ]:
# Data Science Tools and Ecosystem H1

In [ ]:
# In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

In [ ]:
# Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib

In [ ]:
|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Spyder|

In [ ]:
# Below are a few examples of evaluating arithmetic expressions in Python H3

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
# Convertir horas a minutos
horas = 2.5  # ejemplo: 2 horas y media
minutos = horas * 60
print(f"{horas} horas son {minutos} minutos")

2.5 horas son 150.0 minutos

In [ ]:
# ** Objectives: **

List popular languages for Data Science

- Python
- R
- SQL

In [3]:
# Author H2
# Andrea Pacheco